*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;

}

::selection{
    color: rgb(0, 0, 0);
    background: orangered;
}

body{
    background-color:rgb(128 128 128 / 28%);
}

.logo h1{
    font-size: 1.7rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo-text{
    margin-top: 29px;
    color: black;
}

nav{
    background-color: white;
    padding: 20px !important;
    height: 50px;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.logo{
    display: flex;
}

h1 , ul{
    margin-bottom: 0px !important;
}

.logo ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center !important;
    width: 300px;
}

@media (min-width:0px) and (max-width:782px) {
    .logo ul {
        display: none;
    }

    .login-signup button {
        display: none;
    }
}

@media (min-width:0px) and (max-width:405px) {
    .logo-text{
        display: none;
    }
}

@media (min-width:782px) and (max-width:70000000000000000000000000000000px) {
    .sidebar {
        display: none;
    }
}

@media (min-width:0px) and (max-width:949px) {
    .intro-image {
        margin-top: 40px;
    }
}

.f1{
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
    animation: anm1 3s steps(60,end);
}

.line{
    animation: 2s linear 0s normal none infinite running anm2;
}

@keyframes anm1{
    50%{opacity:0}
    100%{opacity:1}
}


.logo ul li{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.692);
    border-radius: 7px;
    font-weight: bold;
    list-style: none;
}

.logo ul li:hover{
    color: black;
}

.logo-1 ul li{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.753);
    border-radius: 7px;
    font-weight: bold;
    margin-top: 10px;
    list-style: none;
}

.logo-1{
    display: flex;
}

.logo-1 ul li:hover{
    color: black;
}

.logo-1 ul{
    margin-top: 60px;
    width: 300px;
}

.login-signup{
    margin-right: 20px;
}

.login-signup button{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    cursor: pointer;
    transition: 0.7s;
    font-weight: bold;
    border: 1px solid black;
}

.login-signup-1 button{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    cursor: pointer;
    transition: 0.7s;
    font-weight: bold;
    border: 1px solid black;
}

.login-signup-1 button:hover{
    background-color: black;
    color: white;
}

.login-signup button:hover{
    background-color: black;
    color: white;
}

.sidebar{
    margin-right: 20px;
}

.sidebar button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
}

.made-in-india{
    text-align: center;
    font-size: 1.3rem; 
    font-family: sans-serif;
    word-spacing: 9px;
}

.made-in-india-1{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.made-in-india-1 img{
    margin-top: 6px;
    margin-left: 20px;
}

.login-inputandlabel-contant-main-div{
    display: flex;
    width: 100%;
    margin-top:30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.log-in-title{
    text-align: center;
    font-size: 3rem;
    margin-top: 5px;
    font-weight: bold;
}

.sign-in-title{
    text-align: center;
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-contant-div-1{
    padding: 40px;
    border-radius: 6px;
    margin-left: 30px;
    margin-right: 30px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
}

.login-contant-div-2{
    padding: 40px;
    border-radius: 6px;
    margin-left: 30px;
    margin-right: 30px;
    width: 400px;  
    
    margin-top: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
}

input{
    width: 100%;
    border: none;
    margin-top: 17px;
}

label{
    font-weight: bold;
}

.password{
    margin-top: 40px;
}

input:focus{
    border-bottom: 2px solid black;
    outline: none;
}

.submit-button{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    height: 27px;
    width: 90px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.7s;
    font-weight: bold;
    border: 1px solid black;
}

.submit-button:hover{
    background-color: black;
    color: white;
}

.dont-link{
    margin-top: 20px;
}

footer{
    margin-top: 90px;
}

.choose {
    /* margin-top: 40px; */
    margin-bottom: 80px;
}

.choose-1 {
    display: flex;
    justify-content: center;
}

#img-preview {
    display: none;
    width: 155px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#img-preview img {
    width: 85%;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.548) 0px 1px 3px 0px, rgba(0, 0, 0, 0.548) 0px 0px 0px 1px;
    height: 130px;
    border-radius: 50%;
    display: block;     
    margin-left: 10px;
}

[type="file"] {
    height: 0;
    width: 0;
    overflow: hidden;
}

[type="file"]+label {
    background: #0d6efd;
    padding: 8px 30px;
    border: 2px solid #0d6efd;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}

[type="file"]+label:hover {
    background-color: #fff;
    color: #0d6efd;
}

#checkbox,#checkbox-2{
    cursor: pointer;
    width: 20px;
    height: 16px;
}

.checkbox-1mian-div{
    display: flex;
    text-align: justify;

}

.checkbox-1mian-div p{
    margin-top: 13px;
    margin-left: 10px;
}

footer{
    margin-top: 200px;
}